*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
 width: 100%;   
 height: 100vh;
 background: rgb(143, 125, 125);
 display: flex;
 align-items: center;
 justify-content: center;
}

.calculator{
    background: rgb(245, 247, 248);
    padding: 20px;
    border-radius: 10px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 25px;
    background: transparent;
    font-size: 20px;
    color: rgb(66, 52, 62);
    cursor: pointer;
    margin: 5px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
}